# MongoDB
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=your_secure_password

# INES CRM
INES_CRM_URL=https://extend.inescrm.com/
INES_CRM_ACCOUNT=FBPERFCRM
INES_CRM_LOGIN=your_crm_login
INES_CRM_PASSWORD=your_crm_password

# LinkedIn
LINKEDIN_EMAIL=your_linkedin_email
LINKEDIN_PASSWORD=your_linkedin_password

# Lusha
LUSHA_EMAIL=your_lusha_email
LUSHA_PASSWORD=your_lusha_password

# Kaspr
KASPR_EMAIL=your_kaspr_email
KASPR_PASSWORD=your_kaspr_password
